*.orig
target/
dist/
*~
.classpath
.project
.pydevproject
.settings
*.ipr
*.iml
*.iws
*.swp
.externalToolBuilders
.idea/
build/
.sonar
.gradle
_site/
.codepro
.metadata
*.versionsBackup
/step_core_jsf/src/main/resources/rebel.xml
/step_admin/step_configurations/velocity.log
/step_core_services/src/main/resources/rebel.xml
/step_eapp/src/main/resources/rebel.xml
/step_eapp_services/src/main/resources/rebel.xml
/step_servicebus/src/main/resources/rebel.xml
/step_exchange/step_exchange_portal/src/main/webapp/scripts/**/*.html
/step_exchange/step_exchange_portal/src/test/resources/js-runner/coverage
/Servers
/.metadata
nb-configuration.xml
rebel.xml
nbactions.xml

/step_bam/.nb-gradle/private/
step_servicebus/data/*
step_eapp/s101plugin.properties
step_eapp/s101plugin.state
step_eapp/src/main/java/com/stepsoln/eapp/camel/CamelRouteBuilder.java
step_eapp/src/main/java/com/stepsoln/eapp/camel/CamelRouteBuilder.java
step_apis/src/main/java/com/stepsoln/eform/api
step_core_helpers/repository - Shortcut.lnk
step_exchange/step_exchange_portal/hs_err_pid1292.log
step_exchange/step_exchange_portal/velocity.log
step_process/src/main/java/com/stepsoln/process/UniqueKey.java
step_recommendation/step_recommendation/hs_err_pid3076.log
step_recommendation/step_recommendation/velocity.log
step_security/src/main/resources/META-INF/spring/core_services_config_test.xml~9025f16343e97d320d115719426a9534ab04f8db
step_security/src/main/resources/META-INF/spring/core_services_config_test.xml~ba4da31018de36bb214f4d7520e9f13d8c0db39b
step_security/src/main/resources/META-INF/spring/core_services_config_test.xml~HEAD
step_security/src/main/resources/META-INF/spring/core_services_config_test.xml~HEAD_0
step_uw/step_uw_services/src/main/java/com/stepsoln/uw/services/person/medicalcondition/mib/MIBResponse.java~9025f16343e97d320d115719426a9534ab04f8db
step_uw/step_uw_services/src/main/java/com/stepsoln/uw/services/person/medicalcondition/mib/MIBResponse.java~ba4da31018de36bb214f4d7520e9f13d8c0db39b
step_uw/step_uw_services/src/main/java/com/stepsoln/uw/services/person/medicalcondition/mib/MIBResponse.java~HEAD
step_uw/step_uw_services/src/main/java/com/stepsoln/uw/services/person/medicalcondition/mib/MIBResponse.java~HEAD_0
step_admin/step_configurations/src/products/COMMON/recommend/StepExchangeProductSellingRules_Older.xls
htmlreports
.recommenders/

step_docs/output/
step_aut/bin/*
/step_eapp/src/main/webapp/pages/case/final_action_old.xhtml
data/
out/
